<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Minha primeira pagina</title>    
        
        <script src=""></script>
    </head>

    <body>
        <h1 class="classe">Ola mundo1111</h1>

        <br>
        <hr>
        <!--AAAA-->

        <h1>Ola mundo222</h1>
        <p>Tag de paragrafo</p>
        <span>..</span>
        <strong>aa</strong>

        <ol>

            <li>1</li>
            <li>2</li>

        </ol>

        <table>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Telefone</td>
            </tr>   
            <tr>
                <td>1</td>
                <td>Jose</td>
                <td>(99) 91234-5789</td>
            </tr>   
            <tr>
                <td>2</td>
                <td>Maria</td>
                <td>(11) 9 9876-5432</td>
            </tr>   
        </table>  

        <form method="get">
            <input type="text" name="nome">
            <input type="password" name="senha">
            <select name="opcao">
                <option>1</option>
                <option>2</option>
            </select>
            <textarea name="texto">  </textarea>
            <input type="submit" name="enviar">
        </form>

        <div id="cssmenu">
            <ul>

                <li><a href="" target="_blank">Home</a></li>
                <li><a href="">Sobre</a>

                    <ul>
                        <li><a href="">Visao</a></li>
                        <li><a href="">Missao</a></li>
                        <li><a href="">Quem somos</a></li>                    
                    </ul>

                </li>
                <li><a href="">Servicos</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="">Contato</a></li>

            </ul>
        </div>

        <br>

        <img src="" alt="aaa">

        <iframe src="https://www.youtube.com/watch?v=LMD6MqwErzc"></iframe>

        <br>

        <button>


        <em>
    </body>

    <footer>

    </footer>
</html>