<html>
    <head>
        <title>Minha primeira pagina</title>
    </head>

    <body>
        <h1>Ola mundo</h1>
        <p>Tag de paragrafo</p>
        <span>..</span>
        <strong>aa</strong>

        <table>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Telefone</td>
            </tr>   
            <tr>
                <td>1</td>
                <td>Jose</td>
                <td>(99) 91234-5789</td>
            </tr>   
            <tr>
                <td>2</td>
                <td>Maria</td>
                <td>(11) 9 9876-5432</td>
            </tr>   
        </table>  
    </body>

    <footer>

    </footer>
</html>