<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <script src="script.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <title>Minha primeira pagina</title>    

    </head>

    <body>
        <h1 class="classe">Ola mundo</h1>
        <p id="currentTime"></p>
        <script src="script.js"></script>

        <div class="container">
            <form class="form" method="post">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite o nome">
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="telefone" placeholder="Digite o seu telefone">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" placeholder="Digite o seu email">
                </div>

                <div class="form-group">
                    <label for="assunto">Assunto:</label>
                    <input type="text" id="assunto" name="assunto" placeholder="Digite o assunto da mensagem">
                </div>
                
                <div class="form-group">
                    <label for="mensagem">Mensagem:</label>
                    <textarea id="mensagem" name="mensagem" placeholder="Digite a sua mensagem"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" name="enviar">
                </div>
            </form>
        </div>

        <br>
        <hr>
        <!--AAAA-->

        <h1>Ola mundo2</h1>
        <p>Tag de paragrafo</p>
        <span>..</span>
        <strong>aa</strong>

        <ol>

            <li>1</li>
            <li>2</li>

        </ol>

        <table>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Telefone</td>
            </tr>   
            <tr>
                <td>1</td>
                <td>Jose</td>
                <td>(99) 91234-5789</td>
            </tr>   
            <tr>
                <td>2</td>
                <td>Maria</td>
                <td>(11) 9 9876-5432</td>
            </tr>   
        </table>  

        <form method="get">
            <input type="text" name="nome">
            <input type="password" name="senha">
            <select name="opcao">
                <option>1</option>
                <option>2</option>
            </select>
            <textarea name="texto">  </textarea>
            <input type="submit" name="enviar">
        </form>

        <div id="cssmenu">
            <ul>

                <li><a href="" target="_blank">Home</a></li>
                <li><a href="">Sobre</a>

                    <ul>
                        <li><a href="">Visao</a></li>
                        <li><a href="">Missao</a></li>
                        <li><a href="">Quem somos</a></li>                    
                    </ul>

                </li>
                <li><a href="">Servicos</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="">Contato</a></li>

            </ul>
        </div>

        <br>

        <img src="" alt="aaa">

        <iframe src="https://www.youtube.com/watch?v=LMD6MqwErzc"></iframe>

        <br>

        <button>


        <em>
    </body>

    <script>
        $("#nome").blur(function(){
            if($("#nome").val() ==""){
                $("#nome").parents("div:first").addclass("has-error");
            } else {
                $("#nome").parents("div:first").removeclass("has-error");
            }
        });
    </script>

    <footer>

    </footer>
</html>